{% extends "basetemplate.html" %}
{% block nav %}
    {%if user%}
    <div class="dropdown">
        <button class="btn btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/">Sair</a>
          <a class="dropdown-item" href="/mudar_senha">Mudar Senha</a>
        </div>
      </div>
    
    {%endif%}
{% endblock %}
{% block content %}
<div class="container">

    <div class="row p-3"></div>    
    <form action="/add_tarefa" method="POST">
        <div class="row p-2"> 
            <div class="col-2"></div>
            <div class="col-8">
                <input type="text" id="inputEmail" name = "tarefa" class="form-control" placeholder="Nova Tarefa" required autofocus>
            </div>
            <input type="hidden" name="user" value="{{user}}">
        </div> 
        <div class="row p-2"> 
            <div class="col-4"></div>
            <div class="col-4">
                <input type="submit" value="Adicionar" class="btn btn-sm btn-primary btn-block">
            </div>
        </div> 
    </form>

    <table class="table table-sm table-hover shadow-lg">
        <thead>
            <tr>
                <th>Tarefas</td>
                <th class = "text-right pr-4">Completar</td>
            </tr>
                {%for tarefa in tarefas%}
                    <tr>
                        <td>{{tarefa[2]}}</td>
                        <td class = "text-right">
                            <form action="/completar_tarefa" method="POST">
                                <input type="hidden" name="user" value="{{user}}">
                                <input name = "tarefa_id" type="text" value={{tarefa[0]}} hidden="true">
                                <input  class="btn btn-success" type="submit" value="Completar">
                            </form> 
                        </td>
                    </tr>
                {%endfor%}
        </thead>
    </table>
</div>

{% endblock %}